<mat-toolbar class="text text-white" style="background-color: rgba(3, 3, 3, 0.5) ; position:fixed;">
<a class="ml-auto text-white" href="#">Home</a>
<a class="ml-auto text-white" href="#">Skills</a>
<a class="ml-auto text-white" href="#">Work Experience</a>

</mat-toolbar>
<img mat-card-image class="my-2 mx-5" src="../assets/IMG_20200505_234950_471.jpg" alt="Photo of a Shiba Inu" style="width: 20%; height: 300px; border-radius: 50%;">

<h1 class="text-white my-5 " style="font-size:100px; width: 100%; height: 100%;">Hi, I am Sai Phani Sriramoju</h1>
